<footer class="border-top footer text-muted text-center">
    <div class="container">
        2021 - Perceval -
        <a href="https://github.com/Zenor27/Perceval" target="_blank">
            <i class="fab fa-github"></i>
        </a>
    </div>
</footer>