@model DashboardViewModel

<div class="card card-rounded graph-card">
    <div class="card-body bg-green d-flex flex-row card-rounded-top card-body-max-height">
        <div class="icon-shape text-white rounded-circle shadow bg-green-icon">
            <i class="fas fa-save"></i>
        </div>
        <div class="d-flex flex-column ml-4">
            <h5 class="card-title">554Gb on 1To</h5>
            <p class="card-text">Western Digital Seagate Barracuda</p>
        </div>
    @*     <div class="cpu-usage-chart"> *@
    @*         <canvas id="cpu-usage-chart" width="75" height="75"></canvas> *@
    @*     </div> *@
    </div>
    <div class="card-body card-rounded-bottom">
        @* <canvas id="cpu-chart"></canvas> *@
    </div>
</div>
