@model DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
}


<div id="informations">
    @await Html.PartialAsync("Informations", Model)
</div>

<script>
$(() => {
    setInterval(() => $('#informations').load('/Dashboard/GetInformatio'), 1000);
});
</script>