@model DashboardViewModel 


<div class="card card-rounded w-100 align-items-center">
    <div class="card-body d-flex flex-row card-rounded-top">
        <h2 class="card-title">Uptime</h2>
    </div>
    <div class="card-body card-rounded-bottom">
        <h3>15 days 23 hours 12 minutes 13 seconds</h3>
    </div>
</div>